* {
    padding: 0;
    margin: 0;
}

body {
    font-weight: 300;
    font-family: Arial, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

input, button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    border: 2px solid #444;
    border-radius: 5px;
    background: #fff;
    outline: none;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
}

button:hover {
    background-color: #444;
    cursor: pointer;
}

input:focus, button:focus {
    border-color: #777;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

a {
    color: #a0a0a0;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: underline;
}